.button {
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    width: auto;
    cursor: pointer;
    border: @greenBorder;
    background-color: @green;
    color: white;
}
.button:hover {
    background-color: @hoverGreen;
}

.disabled {
    opacity: @disabledOpacity;
}