.chatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // border: black 1px solid;
    width: @width;
    height: 450px;
    padding-left: 25px;
    overflow-y: scroll; 
 
    @media(max-width: 1001px) {
        height: 400px;
        padding: 0px;
        margin: 5px;
    }
}