.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: 1070px) {
        width: 100%;
    }

    @media (max-width: 1001px) {
        align-items: flex-start;    
    }

    @media (max-width: 800px) {
        padding-top: 0;
    }
}