.field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @media (max-width: 1070px) {
        width: @width;
    }

    @media (max-width: 1001px) {
        align-items: flex-start;    
    }
}

.reverse {
}