.flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media(max-width: 1070px) {
        flex-direction: row !important;
    }
}

.posts {
    @media (max-width: 1070px) {
        width: 100%;
        flex-direction: row !important;
    }
}