.flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home {
    padding: 30px 30px 30px 330px !important;

    @media (max-width: 1100px) {
        width: auto !important;
        padding: 20px !important;
        top: 220px;
    }

    @media (max-width: 350px) {
        position: relative;
        height: 300px;
        top: 400px !important;

        
    }
}