.flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home {
    padding: 30px 30px 30px 330px !important;

    @media (max-width: 1001px) {
        padding: 20px !important;
        top: 220px;
    }

    @media (max-width: 360px) {
        display: block;
        width: 100%;
        top: 400px;
        padding: 0 !important;
    }
}

.createPost {
    @media (max-width: 1070px) {
        width: @width;
    }

    @media (max-width: 1001px) {
        width: 100%;
        flex-wrap: nowrap;
    }
}

.newsLine {
    @media (max-width: 1070px) {
        width: 100%;
        flex-direction: row !important;
    }
}