.icon {
    padding: 10px;
    margin: 10px;
    width: 15px;
    text-align: center;
    border-radius: 50px;
    background-color: #43D694;
    color: white;
    cursor: pointer;
}

.icon:hover {
    background-color: white;
    border: #43D694 1.5px solid;
    color: #43D694;
}