.mainFeedWrapper {
    padding: @padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - @fullSidebarWidth * 2);
    height: @widthWithoutPadding;
    position: relative;
    left: @fullSidebarWidth;

    @media (max-width: 1070px) {
        flex-direction: column !important;
    }

    @media (max-width: 1001px) {
        width: @widthWithoutPadding;
        left: 0;
        height: 100%;
        margin-bottom: -50px;
    }

    @media (max-width: 360px) {
        width: 100%;
        padding: 0 !important;
    }
}

.reverse {
    @media (max-width: 1001px) {
        height: 100%;
        width: @widthWithoutPadding !important;
    }

    @media (max-width: 360px) {
        width: 100% !important;
    }
}