.mainFeedWrapper {
    padding: 30px 30px 30px 330px !important;
    display: flex;
    align-items: center;

    @media (max-width: 1070px) {
        flex-direction: column !important;
    }

    @media (max-width: 1001px) {
        padding: 20px !important;
        top: 220px;
        display: block;
    }

    @media (max-width: 360px) {
        width: 100%;
        top: 400px;
        padding: 0 !important;
    }
}

.reverse {
    flex-direction: column-reverse;
}