.fullSidebar {
    top: 0px;
    width: @fullSidebarWidth;
    position: fixed;
    height: 100%;
    border-right: @grayBorder;

    @media (max-width: 1070px) {
        width: @fullSidebarWidth;
    }

    @media (max-width: 1001px) {
        border-right: none;
        border-bottom: @grayBorder;
        position: relative;
        width: 100%;
        height: auto;
    }

    @media (max-width: 418px) {
        width: 100%;
        top: calc(100% - 47px);
        border-top: @grayBorder;
    }
}

.hideSidebar {
    width: 80px;
    position: fixed;
    height: 100%;
    border-right: @grayBorder;
}

.fullMenu {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 50px 20px 0 30px;

    @media (max-width: 1001px) {
        flex-direction: row;
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }

    @media (max-width: 418px) {

    }
}

.hideMenu {
    display: none;
}