.menuItem {
    padding: 20px;
    cursor: pointer;

    @media (max-width: 1101px) {
        padding: 20px;
        font-size: 15px;
    }

    @media (max-width: 350px) {
        padding: 10px;
    }
}

.menuItem:hover {
    color: @green;
}