.sidebar {
    width: 300px;
    position: fixed;
    height: 100%;
    border-right: 1px solid #43D694;
}

.shrinkSidebar {
    width: 80px;
}

.menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 20px 20px 0 30px;
    font-family: 'Arial';
}

.shrinkMenu {
    display: none;
}

.menuItem {
    padding: 20px;
    cursor: pointer;
}

.menuItem:hover {
    color: #43D694;
}

.mainMenuItem {
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 50px;
}