.fullSidebar {
    top: 0px;
    width: 300px;
    position: fixed;
    height: 100%;
    border-right: @grayBorder;
}

.shrinkSidebar {
    width: 80px;
    position: fixed;
    height: 100%;
    border-right: @grayBorder;
}

.fullMenu {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 50px 20px 0 30px;
}

.shrinkMenu {
    display: none;
}