.postWrapper {
    background-color: rgb(245, 241, 241);
    position: relative;
    border-radius: 10px;
    width: 740px;
    height: auto;
    margin: 20px 0 20px 0;
    text-overflow: clip;

    @media (max-width: 1024px) {
        width: @width;
    }

    @media (max-width: 500px) {
        margin: @margin;
    }
}