@import './button.less';
@import './mainFeedWrapper.less';
@import './field.less';
@import './mainStyles.less';
@import './menuItem.less';
@import './menuWrapper.less';
@import './textarea.less';
@import './messageWrapper.less';
@import './postWrapper.less';
@import './flexbox.less';
@import './text.less';
@import './chatWrapper.less';

@green: #43D694;
@hoverGreen: #40c288;
@greenBorder: #43D694 1.5px solid;
@gray: #c9c9c9;
@grayBorder: 1px solid #c9c9c9;
@margin: 10px;
@width: calc(100% - @margin);
@dangerBorder: #DE0413 1.5px solid;
@disabledOpacity: 0.5;
@fullSidebarWidth: 300px;