.textarea {
    padding: 20px;
    border-radius: 15px;
    color: @gray;
    width: 700px;
    border: @greenBorder;
    color: @green;

    @media (max-width: 1050px) {
        position: relative;
        width: 100%;
        border-radius: 0;
        height: 300px;
        padding: 10px;
        box-sizing: border-box;
        height: 150px;
    }
}

.textarea:focus {
    outline: none;
    border: @hoverGreen 1px solid;
}