.textarea {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    height: 100px;
    color: @gray;
    width: 700px;
    background-color: white;
    border: @greenBorder;
    color: @green;
    left: 300px;
    margin: 30px;
    font-family: 'Arial';
}

.textarea:focus {
    outline: none;
    border: @hoverGreen 1px solid;
}