.textarea {
    padding: 20px;
    border-radius: 15px;
    color: @gray;
    width: 700px;
    border: @greenBorder;
    color: @green;

    @media (max-width: 1070px) {
        position: relative;
        margin: @margin;
        margin-bottom: 0px;
        padding: 10px;
        box-sizing: border-box;
        width: @width;
    }
}

.textarea:focus {
    outline: none;
    border: @hoverGreen 1px solid;
}

.danger:focus {
    border: @dangerBorder;
}

.reverse {
    position: relative;
    margin: @margin;
    margin-bottom: 0px;
    padding: 10px;
    box-sizing: border-box;
    width: @width;
}