.textarea {
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    height: 100px;
    color: #c9c9c9;
    width: 700px;
    background-color: white;
    border: #43D694 1.5px solid;
    color: #43D694;
}

.textarea:focus {
    outline: none;
    border: #40c288 1.5px solid;
}